version: '3.8'

services:
  backend:
    build: ./backend
    container_name: django_filmtracker
    volumes:
      - ./backend:/app
      - ./backend/db.sqlite3:/app/db.sqlite3
      - ./backend/media:/app/media
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DJANGO_SETTINGS_MODULE=filmtracker.settings
    command: >
      sh -c "sleep 3 &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: react_filmtracker
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - DISABLE_ESLINT_PLUGIN=true
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - FAST_REFRESH=false
      - REACT_APP_API_URL=http://backend:8000
    depends_on:
      - backend
    stdin_open: true
    tty: true
    restart: unless-stopped


    